
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

#changeTheme {
    flex-grow: 0.5;
    padding: 13px;
    background-color: #615f5f;
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
}

#changeTheme:hover {
    background-color: #a6a6a6;
}

#changeTheme button:active {
    background-color: #ffffff;
}


h1, h2 {
    color: #f4f7fa;
    text-align: center;
    margin-bottom: 20px;
}


.input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-section input {
    flex-grow: 8;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.input-section input:focus {
    border-color: #a6a6a6;
    outline: none;
}

#addButton {
    flex-grow: 0.5;
    padding: 13px;
    background-color: #615f5f;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: #a6a6a6;
}

#addButton button:active {
    background-color: #004085;
}

#refreshButton {
    flex-grow: 0.1;
    padding: 13px;
    background-color: #615f5f;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#refreshButton:hover {
    background-color: #a6a6a6;
}

#refreshButton button:active {
    background-color: #5658af;
}


#ingredientList {
    margin-bottom: 20px;
    padding-left: 20px;
}

#ingredientList li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
}

#ingredientList li span {
    font-style: italic;
    color: #555;
}


#doneButton {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #615f5f;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 20px;
}

#doneButton:hover {
    background-color: #a6a6a6;
}

#doneButton:active {
    background-color: #fff;
}

#recipeList {
    margin-top: 20px;
    padding-left: 20px;
}

#recipeList li {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
}

#recipeList li a {
    text-decoration: none;
    color: #a6a6a6;
    transition: color 0.3s;
}

#recipeList li a:hover {
    color: #a6a6a6;
}

#statusMessage {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.info-container {
    border: 2px solid #5658af;
    padding: 20px;
    border-radius: 8px;
    background-color: #333; /* Тёмный фон */
    color: #ffffff; /* Белый цвет текста */
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s ease;
}

.info-container:hover {
    border-color: #a3a5f0;
}

.info-container h3 {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 10px;
    color: #ffffff;
}

.info-container p {
    margin: 5px 0;
    font-size: 16px;
    color: #f4f7fa; /* Белый или светлый текст */
}

.info-container a {
    display: block;
    margin-top: 10px;
    color: #a3a5f0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.info-container a:hover {
    color: #ffffff;
}


.success-message {
    color: #a3a5f0;
}

.error-message {
    color: red;
}

/*Окно для информации о выводе*/
.recipe-card {
    border: 2px solid #555 !important;
    border-radius: 16px !important;
    background-color: #555 !important;
    padding: 16px;
    margin: 16px 0;
}

.recipe-card h3 {
    margin-top: 0;
    color: white;
}

.recipe-card h3 a {
    text-decoration: none;
    color: white;
}

.recipe-card h3 a:hover {
    text-decoration: underline;
}
.recipe-card p {
    margin: 4px 0;
    color: white;
}

